Package: co.infinum.jbbad
Name: JBBad
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disabling the jaibreak detection for Jailbreaking Bad app!
Maintainer: Adis
Author: Adis
Section: Tweaks
Version: 0.1.0
Installed-Size: 200
