Package: co.infinum.jbbad
Name: JBBad
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: Disabling the jaibreak detection 2!
Maintainer: Adis
Author: Adis
Section: Tweaks
