Package: co.infinum.jbbad
Name: JBBad
Depends: mobilesubstrate
Version: 0.0.4
Architecture: iphoneos-arm
Description: Disabling the jaibreak detection for Jailbreaking Bad app!
Maintainer: Adis
Author: Adis
Section: Tweaks
